{% extends "_layout/main.html" %}
{% import "_layout/blocks.html" as blocks %}
{% set site = ds("_layout/source/site_info.toml") %}


{% block body %}
<div class="block-container space-y-12 text-[#222624]">
    <a class="block mt-6" href="/">
        <img class="h-16" src="@/assets/img/aixr-logo.svg" alt="{{site.base.name}}" />
    </a>
    <div class="text-black/90 content-box ">
        {{t("简介")}}
    </div>

    {% set cfg = ds("/_layout/source/daobox_cfg.toml") %}
    {% for item in ds("_layout/source/ai_toc.toml") | get(key="items") %}
    <div>
        <h2 class="text-4xl font-extrabold text-[#12865A] mb-6">{{item.title}}</h2>
        <div class="space-y-8">
            {% for item in ds("_layout/source/" ~ item.key ~ ".toml") | get(key="items") %}
            <div class="space-y-3">
                <h3 class="text-[#20B687] text-2xl font-bold flex items-center space-x-2">
                    <img class="w-6 h-6" src="{{imgsrc(file=item.icon)}}" />
                    <a href="{{item.url}}" target="_blank">{{item.name}}</a>
                </h3>
                <div class=" text-[#434A47]">{{t(item.brief)}}</div>
                <div class="space-y-1">
                    {% set articles = daobox_items(page=1, limit=4, path_id=item.path_id, config=cfg.daobox) %}
                    {% for item in articles.items | slice(end=3)  %}
                    <div class="flex items-center space-x-8">
                        <a href="./details/{{item.id}}.html?id={{item.id}}" class="text-[#0F865A] hover:text-[#20B687]">{{item.title}}</a>
                        <span class="text-gray-400 text-sm">{{item.create_at / 1000 | int | date(format="%Y-%m-%d")}}</span>
                    </div>
                    {% endfor %}

                    {% if articles.items | length > 3 %}
                    <a href="./catalog/{{item.path_id}}/?id={{item.path_id}}" class="text-[#0F865A] flex items-center space-x-1">
                        <span>更多</span>
                        <span class="block w-3.5 h-3.w-3.5">{{blocks::arrow_right()}}</span>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock body %}